*{
    margin: 0;
    padding: 0;
    font-family: Candara;
    box-sizing: border-box;
}
body{

    margin: auto;
    background: #ACE1AF;
    color: #080808;
}
#header{
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 10%;

}
.create-line{
    margin-top: 1%;
    width: 2000px;
    border-top: 3px solid #63bf63;

}
.create-line-1 {
    margin-left: 150px;
    width: 2000px;
    border-top: 3px solid #080808;
}
.create-line-2 {
    margin-left: -80px;
    margin-top: 30px;
    width: 2000px;
    border-top: 3px solid #080808;}
nav{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
    margin-top: -7px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 30px;
    font-weight:bold;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #63bf63;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    color: #080808;
    margin-top: 12%;
    font-weight:bold;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-style:italic;
}
.header-text h2{
    margin-top: 20px;
    font-size: 35px;
}
.header-text h4{
   margin-top: 20px;
   margin-bottom: -15px;
}

#news{
    padding: 30px 0;

}

.new{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.sub_title{
    font-size: 60px;
    font-weight:600;

}
.new div{
    background: #8FBC8F;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
}

.new div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.new div p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
#pupil{
    padding: 30px 0;
    font-size: 25px;

}
#gall {
    position: relative;
    padding-top: 50%;
    -moz-user-select: none; user-select: none;
}
#gall img {
    position: absolute;
    top: 25%;
    left: 12.5%;
    max-width: 24.5%;
    max-height: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: zoom-in;
    transition: .2s;
}
#gall img:nth-child(4n-2) {left: 37.5%;}
#gall img:nth-child(4n-1) {left: 62.5%;}
#gall img:nth-child(4n) {left: 87.5%;}
#gall img:nth-child(n+5) {top: 75%;}

#gall img:focus {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    outline: none;
    pointer-events: none;
}
#gall img:focus ~ div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    cursor: zoom-out;
}
.faq {
    width: 80%;
    margin-left: 5px;
    margin-top: 20px;
}

details {
    background-color: #8FBC8F;
    border: 5px solid #8FBC8F;
    padding: 25px;
    margin-bottom: 15px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}
details p{
    font-size: 25px;
}
details[open] {
    background-color: #8FBC8F;
}


.block {margin: 3rem;}

/* Стили для текстового поля с кнопкой "Развернуть" */
.limiter {
    max-height: 100px;
    overflow: hidden;
    position: relative;
    font-size: 25px;
}
.limiter .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: 0.3s;
}

[data-more-checker^="read-more"] {
    opacity: 0;
    position: absolute;
}
[data-more-checker^="read-more"]:checked ~ .limiter {
    max-height: none;
}
[data-more-checker^="read-more"]:checked ~ .limiter .bottom {
    opacity: 0;
    transition: 0.3s;
}
[data-more-checker^="read-more"] ~ .read-more-button:before  {
    content: "Развернуть »";
}
[data-more-checker^="read-more"]:checked ~ .read-more-button:before {
    content: "Свернуть «";
}

.read-more-button {
    cursor: pointer;
    display: inline-block;
    color: #080808;
    text-decoration: underline;
}

.copy{
    min-width: 100vw;
    position: center;
    text-align: center;
    padding: 30px 0;
    background: #080808;
}

.copy a{
    font-size: 40px;
    color: #ffffff;
}

